@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap");

body {
  font-family: "Open Sans";
  background: #085da8;
}

.title {
  color: #fff;
  font-size: 4rem;
  text-align: center;
  text-decoration: underline;
}

.pwd-box {
  margin: 4rem auto;
  width: 40%;
  height: 20rem;
  background: #010101;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.pwd-box .pass-box {
  margin: 20px;
  padding: 10px;
  width: 50%;
  height: 3rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.pwd-box div h1 {
  padding-bottom: 10px;
  font-size: 20px;
  color: #fff;
  border-bottom: 5px solid #fff;
}

.pwd-box div i {
  font-size: 30px;
  color: #fff;
  cursor: pointer;
}

.pwd-box .pass-length-box {
  margin: 20px;
  padding: 10px;
  width: 70%;
  height: 3rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  outline: 1px solid #fff;
}

#pwd-length {
  -webkit-appearance: none;
  height: 3px;
}

#pwd-length-text {
  font-size: 20px;
  color: #fff;
}

.pwd-box #generate {
  width: 10rem;
  height: 4rem;
  font-size: 20px;
  color: #000;
  background: #fff;
  cursor: pointer;
  outline: none;
  border: 2px solid #fff;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
